/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Variables for Dark Theme
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 */


 :root{

    /* ========== Colors ========== */

    --ms-primary: #0479c4;
    --ms-primary-hover: #a3ceeb;
    --ms-secondary: #01681e; 
    --ms-secondary-hover: #a9dbb7; 
    --ms-dark: #f5f5f5;
    --ms-light: #292929;

    --ms-secondary-lighter: #013f12; 
    --ms-primary-lighter: #073354;
    --ms-dark-lighter: #f1f1f1;
    --ms-light-darker: #CCC;

    --ms-box-light: #353535;

    --ms-box-shadow-12: transparent;
    --ms-box-shadow-24: transparent;

    /* ========== Background-images ========== */

    --ms-logo: url("../../images/logo-v3-light.png");
    --ms-logo-light: url("../../images/logo-v3.png");
    --ms-logo-white: url("../../images/logo-v3-light.png");
}