/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Main
 *  
 *  Developed by Maxel
 *  Github - this.marianosciacco.it
 *
 */

html, body{
  text-rendering: optimizelegibility;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 10pt;
  color: #212121; 
  padding: 0; 
  margin: 0;
  line-height: 125%;
  background-color: #E6E6E6;
}

a {color: #67adc5; text-decoration: underline;}
a:visited{ color: #969935; }
a:hover { text-decoration: none; }

hr {border: 0px; border-top: 1px solid #CCC; }
p, ul {margin: 20px 0; line-height: 30px; font-size: 18px;  }


h1,
h2{
  color: #03477A;
  text-decoration: none;
  letter-spacing: 1.2px;
  margin: 12px 0 24px;
  line-height: 32px;  
  font-weight: normal;
}

h1 
{
  font-size: 24px;
  display: inline-block;
  border-bottom: 2px solid rgb(199, 205, 20); /*rgba(3, 71, 122, 0.34)*/
  border-radius: 0px;
  padding: 10px 2px;
  font-weight: bold;
}

h2 {font-size: 20px; color: #025390; }

article strong{ color: #999;}

.cursor {cursor: pointer; }
.tcenter {text-align: center;}
.tleft {text-align: left;}
.tright {text-align: right;}
.tjustify {text-align: justify;}
.tupper {text-transform: uppercase;}
.w50 {width: 50%;}
.w75 {width: 75%;}
.mauto {margin: auto;}
.mbigauto {margin: 30px auto;}
.fleft {float: left;}
.fright {float: right;}
.maxw750 {max-width: 750px;}
.active, .show {display: block;}
.disabled, .hide{display: none;}
.inline-block {display: inline-block;}
.bigtext {font-size: 14px;}
.bold {font-weight: bold;}
.topline {border-top: 1px solid #CCC;}
.bottomline {border-bottom: 1px solid #CCC;}
.rightline {border-right: 1px solid #CCC;}
.leftline {border-left: 1px solid #CCC;}


.box {padding: 4px; margin: 10px 20px; }
.red {background-color: #FFB2B2; color: #C41717; }
.blue {background-color: #B3D1FF; color: #1757C4; }
.green {background-color: #D4FFB3; color: #4EC518; }



p.true, p.false{
  width: auto;
  background-color: #FFF;
  margin: 20px auto; 
  border-radius: 4px;
  padding: 8px;
}

p.true{
  border: 1px solid green;
  color: #006600; 
}

p.false{
  border: 1px solid red;
  color: #660000; 
}

.line{
  border-right: 1px solid #CCC;
}

.tohide
{
  font-size: 24px;
  color: #555;
  text-transform: lowercase;
}


/* ========== Icone ========== */



.caret-up, .caret-down{
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 2px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;  
}

.caret-down{
  border-bottom: none;
  border-top: 6px solid;
}

.small-up{
  margin: 0 2px 0 0;
  border-bottom: 5px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;  
}

.small-down{
  margin: 0 2px 0 -0;
  border-top: 5px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;  
}

.small_icon{
  max-width: 16px;
  max-height: 16px;
  margin: 2px;
  position: absolute;
}

/* ========== Contenitori ========== */

.limiter{
  /*width: 80%;*/
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.fade{
  opacity: 0; 
}


.logo{
  width: 350px;
  height: 130px;
  margin: 0 auto; 
}

.logo img{
  max-width: 290px;
  max-height: 110px;
  margin: 15px 15px 0;
}

.error{
  color: red;
}

/* ========== Classi Contenitori ========== */

.box-about{
  background-image: url("../images/draw/about.png");
}

.box-portfolio{
  background-image: url("../images/draw/design.png");
}

.box-blog{
  background-image: url("../images/draw/blog.png");
}

.box-contacts{
  background-image: url("../images/draw/contacts.png");
}

.box-atlantisbook{
  background-image: url("../images/portfolio/atlantisbook.png");
  background-color: #567AC2 !important;
}

.box-training{
  background-image: url("../images/portfolio/training.png");
  background-color: #CCC !important;
}

.box-skillers{
  background-image: url("../images/portfolio/skillers.png");
  background-color: #2960A8 !important;
}

.box-sadoc{
  background-image: url("../images/portfolio/sadoc.png");
  background-color: #0F4A11 !important;
}

.box-qcloud{
  background-image: url("../images/portfolio/qcloud.png");
  background-color: #EAEAEA !important;
}

.box-covitaly{
  background-image: url("../images/portfolio/covitaly.png");
  background-color: #303030 !important;
}

.box-bitcrumble{
  background-image: url("../images/portfolio/bitcrumble.png");
  background-color: #667480 !important;
}

.box-lspd{
  background-image: url("../images/portfolio/lspd.png");
  background-color: #667480 !important;
}

.box-ls{
  background-image: url("../images/portfolio/ls.png");
  background-color: #EADFC2 !important;
}

.box-riot{
  background-image: url("../images/portfolio/riot.png");
  background-color: #4C4E59 !important;
}

.box-ext{
  background-image: url("../images/portfolio/link.png");
  background-color: #FFF !important;
}


/* ========== Tabelle ========== */

table
{
  width: 100%;
  margin: 25px auto;
  border: 2px solid #EEE;
  border-radius: 2px;
  padding-top: 20px;
  border-collapse: collapse;
}

td,
th
{
  padding: 25px;
  font-size: 24px;
}


table.contacts td
{
  width: 50%;
  /*border-bottom: 1px solid #E8E8E8; */
  padding: 45px 20px 25px;
}

table.contacts img
{
  margin: -20px 20px -20px 0;
}


/* ========== Input ========== */

input[type="text"],
input[type="password"],
input[type="submit"], 
textarea
{
  display: block;
  margin: 0;
  width: 80%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  margin: auto;
  border: 4px solid #CCC;
  border-radius: 2px;
  transition: border 0.3s;
}

input[type="submit"]
{
  margin: 10px auto;
  border-color: #4590C9;
  width: auto;
}

input[type="password"]
{
  border-color: #999;
}

textarea
{
  height: 250px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,   
textarea:focus
{
  outline: none;
  border: 4px solid #666;
}

.tothetop
{
	position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 10px;
  background-color: #7e8130;
  z-index: 1000;
  border-radius: 15px;
}

.tothetop img{
  max-width: 100% !important;
}

.tothetop:hover{
  background-color:  #999;
}