<!--
 *
 *
 *  Personal Web Page - MarianoSciacco.it
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 *-->

<!DOCTYPE html>
<html>

<head>
    <title>Mariano Sciacco, Maxelweb | {{ .Title }} </title>
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css" />
    <link disabled rel="preload" id="ms-theme-style" onload="this.onload=null;this.rel='stylesheet'" href="/css/theme/variables-dark.css" type="text/css" as="style">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome/lib/all.min.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="icon" sizes="192x192" href="/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#0479c4" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <div class="ms-settings-box">
        {{/* FIXME: enable multi-language when ready  
            <div class="ms-language-switcher">
            {{ if .Site.IsMultiLingual }}
                {{ range $.Translations }}
                <a href="{{ .Permalink }}">{{ .Language.Params.short }}</a></li>
                {{ end }}
            {{ end }}
        </div>  */}}
        <div class="ms-theme-switcher">
            <a id="ms-theme-toggle" aria-label="ms-theme-toggle" alt="Theme Switch" title="Theme Switch">
                <i></i>
            </a>
        </div>
    </div>
    <header class="ms-header">
        <div class="ms-limiter">
            <div class="logo-header cursor logo hide" onclick="location.replace('/')"></div>
            <div class="ms-navbar">
                <div class="ms-url-list">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    {{ $menu_item_url := .URL | relLangURL }}
                        {{ if .HasChildren }}
                        <div class="ms-dropdown">
                            <a href="{{ $menu_item_url }}" class="link-header"><i class="ms-icon-pre {{ .Pre }}"></i><i class="ms-icon-post {{ .Post }}"></i> {{ .Name }} <span class="caret-down"></span></a>
                            <div class="ms-dropdown-content">
                            {{ range .Children }}
                                {{ $submenu_item_url := .URL | relLangURL }}
                                <a href="{{ $submenu_item_url }}"><i class="{{ .Pre }}"></i>&nbsp;&nbsp;{{ .Name }}</a>  
                            {{ end }}
                            </div>
                        </div>
                        {{ else }}
                            <a href="{{ $menu_item_url }}" class="link-header"><i class="{{ .Pre }}"></i> {{ .Name }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </header>

    <div class="ms-navbar-mobile">
        <input type="checkbox" id="ms_menu_icon" class="ms-icon-menu-checkbox" onclick="msToggle('#menu-mobile')">
        <label for="ms_menu_icon" class="ms-icon-menu-label">
            <div></div>
            <div></div>
            <div></div>
        </label>
        <div class="ms-url-list">
            <div id="menu-mobile" class="tleft" style="display: none;">
                {{ range .Site.Menus.main }}
                {{ $menu_item_url := .URL | relLangURL }}
                    {{ if .HasChildren }}
                        <a href="{{ $menu_item_url }}">
                            <i class="{{ .Pre }}"></i>
                            {{ .Name }}
                        </a>
                        {{ range .Children }}
                            {{ $submenu_item_url := .URL | relLangURL }}
                            <a href="{{ $submenu_item_url }}" class="submenu">
                                <i class="{{ .Pre }}"></i>
                                {{ .Name }}
                            </a>  
                        {{ end }}
                    {{ else }}
                        <a href="{{ $menu_item_url }}"><i class="{{ .Pre }}"></i> {{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="ms-wrapper">

        {{ block "main" . }} {{ end }}

    </div>
    <footer class="ms-footer">
        <div class="ms-limiter">
            <div class="ms-footer-logo">
                <div class="logo-footer"></div>
            </div>
            <div class="ms-footer-text">
                <p>{{ T "developed-with" }} <i class="fas fa-heart"></i> {{ T "from" }} {{ .Site.Data.general.owner.username }} <a href="mailto:{{ .Site.Data.general.owner.contacts.email }}" alt="Contact site admin" title="Contact site admin"><i class="fas fa-envelope"></i></a></p>
                <p>
                    <i class="fas fa-code"></i> v{{ .Site.Data.general.website.version }} 
                    <small>({{ .Site.Data.general.website.last_update }})</small>
                </p>
                <p>
                    <a href="/credits">{{ T "credits" }}</a> - 
                    <a href="http://this.marianosciacco.it" target="_blank">{{ T "source-code" }}</a>
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="/js/main.js" async></script>
</html>
