{{ define "main" }}
<!-- Here the section refers to content/section/_index.html --> 
<div class="ms-wrapper-header"></div>
<section class="ms-section ms-section-after-splash">
    <div class="ms-limiter">
        <div class="ms-section-title">
            <h1>{{ .Title }}</h1>
            {{ partial "breadcrumbs.html" . }}
        </div>
        <div class="ms-section-content">
            <ul>
            {{ range .Pages }}
            <li>
                <a href="{{.RelPermalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
            </li>
            {{ end }}
            </ul>
            {{ .Content }} {{/*  FIXME: reset before pages list  */}}
        </div>
    </div>
</section>
{{ end }}