{{ define "main" }}
<!-- Here the section refers to content/section/post-custom-name.md --> 
<div class="pre-fixed-header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="side-container text-center">
                <img class="my-portrait" src="/images/my-portrait.jpeg">
                <hr>
                Computer Scientist
                <hr>
            </div>
        </div>
        <div class="col-md-9">
            {{ partial "timeline.html" . }}
        </div>
    </div>
</div>
{{ end }}