<section id="about">
	<div class="limiter">
		
		<article>
			<div class="titolo">
				<div class="scroll-1">
					<h2>Chi sono</h2>
					<img src="images/icons/about.png">
				</div>
			</div>
			<div class="contenuto">
				<h1>Mariano Sciacco, Maxel</h1> 
				<h2><strong>//</strong> <i class="fa fa-user"></i> Web Developer / Programmer</h2>
				<p>	
					Ciao, sono Mariano Sciacco, in arte Maxel. 
				  	Sono del '97 e attualmente vivo a Padova.
				 </p>
				<p>
					Mi ritengo un grande appassionato di tecnologie informatiche e soprattutto mi interesso molto alla progettazione, sviluppo e gestione dei siti web.
				</p>
				<p>
					Sono nel campo da molti anni e sono stato partecipe di molti progetti online per puro interesse e studio personale. 
				</p>
			
				<p>
					&raquo; <i class="far fa-file"></i> <a href="http://cv.marianosciacco.it">Download curriculum (EN)</a>
					&raquo; <i class="far fa-file"></i> <a href="http://cvit.marianosciacco.it">Download curriculum (IT)</a>
				</p>
			</div>
		</article>
			
		<div class="limit-1"></div>

		 <div class="timeline">
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-graduation-cap"></i> 2011</h2>
		      <p>Diploma di Scuola Media</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-book"></i> 2013</h2>
		      <p>Pubblicazione della prima versione di <b>AtlantisBook</b>, social network per un gioco online e inizio apprendimento dei linguaggi di programmazione.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-graduation-cap"></i> Aprile 2015</h2>
		      <p>Conseguimento esame FCE, First Certificate of English (B2).</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-graduation-cap"></i> Luglio 2015</h2>
		      <p>Conseguimento attestato dei lavoratori e primo soccorso.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-graduation-cap"></i> Luglio 2016</h2>
		      <p>Diploma di Scuola Scuola Superiore, Liceo delle Scienze Umane.</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-university"></i> Ottobre 2016</h2>
		      <p>Inizio studi universitari presso <b>Università degli Studi di Padova</b><br> Corso di <u>Informatica</u>, Scuola di Scienze, Dipartimento di Matematica.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-user-friends"></i> Febbraio 2018</h2>
		      <p>Completamento e pubblicazione relazione progetto universitario per il corso di <b><a href="https://github.com/Maxelweb/qBreakDatabaseUNIPD">Base di Dati</a></b> in collaborazione con Enrico Buratto.</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-file-code"></i> Maggio 2018</h2>
		      <p>Primo rilascio software inglese <b><a href="http://src.debug.ovh">Server Remote Console for SA-MP</a></b> per la gestione remota di un server di gioco.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-user-friends"></i> Maggio 2018</h2>
		      <p>Completamento e pubblicazione del progetto universitario per il corso di Automi e Linguaggi Formali - <b><a href="http://swl.marianosciacco.it">SWL Parser</a></b> in collaborazione con Gianmarco Pettinato.</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-users"></i> <i class="fa fa-book"></i> Marzo 2019</h2>
		      <p>Completamento e pubblicazione relazione progetto universitario per il corso di <b><a href="http://tecweb.marianosciacco.it">Tecnologie Web</a></b> in collaborazione con Enrico Buratto, Giuseppe Vito Bitetti e Gianmarco Pettinato.</p>
		      <p>Pubblicazione di una <b><a href="http://public.marianosciacco.it/guida_tecweb_unipd.pdf">guida al Progetto di Tecnologie Web</a></b>.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-book"></i> Aprile 2019</h2>
		      <p>Completamento e pubblicazione del progetto universitario per il corso di <b><a href="http://public.marianosciacco.it/wim_progetto_hdblog.pdf">Web Information Management</a></b> 
		      tenuto dal prof. <a href="https://it.wikipedia.org/wiki/Massimo_Marchiori">Massimo Marchiori</a>.</p>
		    </div>
		  </div>
		  <div class="container left">
		    <div class="content">
		      <h2><i class="fa fa-laptop"></i> Luglio 2019</h2>
		      <p>Completamento e pubblicazione del progetto universitario <b><a href="https://pao.marianosciacco.it">qCloud Manager</a></b> per il corso di Programmazione a Oggetti.</p>
		    </div>
		  </div>
		  <div class="container right">
		    <div class="content">
		      <h2><i class="fa fa-search"></i> Settembre 2019</h2>
		      <p>Pubblicazione del progetto universitario <b><a href="https://github.com/Maxelweb/RicercaOperativaUNIPD">Ottimizzazione di una Web Farm</a></b> per il corso di Ricerca Operativa.</p>
		    </div>
		  </div>
		</div>
	</div>
	<br><br>
</section>

<section class="divider">
	<div class="limiter">

	</div>
</section>
