<section id="contacts">
	<div class="limiter">

		<article>
			<div class="titolo">
				<div class="scroll-5">
					<h2>Contatti</h2>
					<img src="images/icons/contacts.png">
				</div>
			</div>
			<div class="contenuto">			
				<h1>Contatti</h1> 
			 	<h2><strong>//</strong> <i class="fa fa-link"></i> Social Network </h2>
				<table class="contacts">
					<tr>
						<td><i class="fab fa-facebook-square"></i> <span class="tohide">Facebook</span></td>
						<td>Mariano Sciacco</td>
					</tr>			
					<tr>
						<td><i class="fab fa-twitter-square"></i> <span class="tohide">Twitter</span></td>
						<td><a href="https://twitter.com/Maxelweb">@Maxelweb</a></td>
					</tr>
					<tr>
						<td><i class="fab fa-linkedin"></i> <span class="tohide">Linked In</span></td>
						<td><a href="https://www.linkedin.com/in/marianosciacco/">Mariano Sciacco</a></td>
					</tr>	
					<tr>
						<td><i class="fab fa-github-square"></i> <span class="tohide">Github</span></td>
						<td><a href="http://git.marianosciacco.it">Maxelweb</a></td>
					</tr>
					<tr>
						<td><i class="fab fa-discord"></i> <span class="tohide">Discord</span></td>
						<td>Maxel#6107</td>
					</tr>	
					<tr>
						<td><i class="fab fa-youtube"></i> <span class="tohide">YouTube</span></td>
						<td>Maxelweb</td>
					</tr>				
				</table>

			 	<h2><strong>//</strong> <i class="fa fa-envelope"></i> Email </h2>
				<table class="contacts">
					<tr>
						<td><i class="fa fa-at"></i> <span class="tohide">Principale</span></td>
						<td>marianosciacco@gmail.com</td>
					</tr>	
					<tr>
						<td><i class="fa fa-envelope-square"></i> <span class="tohide">Secondaria</span></td>
						<td>maxelweb@gmail.com</td>
					</tr>												
				</table>

			</div>
		</article>

	<div class="limit-5"></div>

	</div>
</section>
