<section id="edu">
	<div class="limiter">

		<article>
			<div class="titolo">
				<div class="scroll-3">
					<h2>Formazione</h2>
					<img src="images/icons/edu.png">
				</div>
			</div>
			<div class="contenuto">	
				<h1>Scuole, Università e lavori </h1>
			 	
				<h2><strong>//</strong> <i class="fa fa-university"></i> Università </h2>
				<p>
					<strong>2016 - In corso</strong> <br>
					<span>Informatica, Università degli Studi di Padova</span> <br>
					Padova (PD)
				</p>

			 	<h2><strong>//</strong> <i class="fa fa-graduation-cap"></i> Diplomi </h2>
			 	<p>
			 		<strong>2016</strong> <br>
			 		<span>Diploma di Scuola Secondaria di Secondo Grado (Scuola Superiore)</span> <br>
			 		Liceo delle Scienze Umane / San Donà di Piave (VE)
			 	</p>
			 	<p>
			 		<strong>2011</strong> <br>
			 		<span>Diploma di Scuola Secondaria di Primo Grado (Scuola Media)</span> <br>
			 		Scuola Michelangelo / Jesolo (VE)
			 	</p>	

			 	<h2><strong>//</strong> <i class="fa fa-book"></i> Certificati </h2>		 	
			 	<p>
			 		<strong>2015</strong> <br>
			 		<span>FCE - First Certificate of English (B2)</span>
			 	</p>

				<h2><strong>//</strong> <i class="fa fa-file"></i> Attestati </h2>		 	
			 	<p>
			 		<strong>Luglio 2015</strong> <br>
			 		<span>Formazione dei Lavoratori</span>
			 	</p> 	
			 	<p>
			 		<strong>Luglio 2015</strong> <br>
			 		<span>Attestato di Primo Soccorso</span>
			 	</p>
		</article>
	
		<div class="limit-3"></div>

	</div>
</section>


<section id="divider">
	<div class="limiter"></div>
</section>