<section id="edu">
	<div class="limiter">

		<article>
			<div class="titolo">
				<div class="scroll-3">
					<h2>Formazione</h2>
					<img src="images/icons/edu.png">
				</div>
			</div>
			<div class="contenuto">	
				<h1>Scuole, università e tirocini </h1>
			 	
				<h2><i class="fa fa-university"></i> Università </h2>
				<p>
					<strong>2020 - in corso</strong> <br>
					<span>Laurea magistrale in Informatica, Università degli Studi di Padova</span> <br>
					Padova (PD)
				</p>
				<p>
					<strong>settembre 2016 - luglio 2020</strong> <br>
					<span>Laurea triennale in Informatica, Università degli Studi di Padova</span> <br>
					<a href="https://public.marianosciacco.it/tesi_triennale_marianosciacco.pdf">Tesi triennale</a> - Padova (PD)
				</p>

				<h2><i class="fa fa-briefcase"></i> Tirocini e collaborazioni</h2>
				<p>
					<strong>giugno 2020 - luglio 2020</strong> <br>
					<span>Tirocinio come sviluppatore  presso SyncLab</span> <br>
					<a href="https://synclab.it">synclab.it</a> - Padova (PD)
				</p>
				<p>
					<strong>novembre 2019 - maggio 2020</strong> <br>
					<span>Collaborazione con SanMarco Informatica per il progetto <em>ThiReMa</em></span> <br>
					<a href="https://www.sanmarcoinformatica.com/">sanmarcoinformatica.com</a> - Padova (PD)
				</p>

			 	<h2><i class="fa fa-graduation-cap"></i> Diplomi </h2>
			 	<p>
			 		<strong>2016</strong> <br>
			 		<span>Diploma di Scuola Secondaria di Secondo Grado (Scuola Superiore)</span> <br>
			 		Liceo delle Scienze Umane / San Donà di Piave (VE)
			 	</p>
			 	<p>
			 		<strong>2011</strong> <br>
			 		<span>Diploma di Scuola Secondaria di Primo Grado (Scuola Media)</span> <br>
			 		Scuola Michelangelo / Jesolo (VE)
			 	</p>	

			 	<h2><i class="fa fa-book"></i> Certificazioni </h2>		 	
			 	<p>
			 		<strong>2015</strong> <br>
			 		<span>FCE - First Certificate of English (B2)</span>
			 	</p>

		</article>
	
		<div class="limit-3"></div>

	</div>
</section>


<section class="divider">
	<div class="limiter"></div>
</section>