<section id="portfolio">
	<div class="limiter">
		<article>
			<div class="titolo">
				<div class="scroll-4">
					<h2>Portfolio</h2>
					<img src="images/icons/portfolio.png">
				</div>
			</div>
			
			<div class="contenuto">		
				<h1>Lavori e Progetti</h1> 
				<h2><strong>//</strong> <i class="fa fa-book"></i> Pubblicazioni e documenti</h2>
				<p>Tutte le pubblicazioni da me rilasciate possono essere visionate al seguente indirizzo:
					<a href="http://dev.marianosciacco.it/publications">dev.marianosciacco.it/publications</a>
				</p>
				<h2><strong>//</strong> <i class="fa fa-users-cog"></i> Progetti</h2>
				<p>Tutti i progetti attivi, conclusi o abbandonati sono riassunti al seguente indirizzo:
					<a href="http://dev.marianosciacco.it">dev.marianosciacco.it</a>
				</p>
				<br>
				<h2><strong>//</strong> <i class="fa fa-link"></i> Websites</h2>
				<p>Di seguito sono esposti alcuni dei principali siti che ho realizzato. Per maggiori informazioni, visita la <a href="http://dev.marianosciacco.it">raccolta dei progetti</a>.
				</p>
			</div>
		
		</article>

		<div class="limit-4"></div>

		<article>	
			<div class="list-box-option">
				
				<div class="box-option box-atlantisbook">
					<div class="box-text">
						Social Network
					</div>				
				</div>

				<div class="box-option box-ls">
					<div class="box-text">
						Los Santos City
					</div>				
				</div>

				<div class="box-option box-sadoc">
					<div class="box-text">
						SADoC
					</div>				
				</div>	

				<div class="box-option box-lspd">
					<div class="box-text">
						LSPD
					</div>				
				</div>

			</div>
		</article>

	</div>
</section>



<section class="divider">
	<div class="limiter"></div>
</section>