<section id="portfolio">
	<div class="limiter">
		<article>
			<div class="titolo">
				<div class="scroll-4">
					<h2>Portfolio</h2>
					<img src="images/icons/portfolio.png">
				</div>
			</div>
			
			<div class="contenuto">		
				<h1>Progetti e pubblicazioni</h1> 

				<h2><strong>//</strong> <i class="fa fa-users-cog"></i> I miei progetti</h2>
				<p>Raccolta di tutti i progetti attivi, conclusi o abbandonati da me realizzati o a cui ho fatto parte.
					<br> &raquo; <a href="http://dev.marianosciacco.it/projects/my">Visualizza i miei progetti</a>
				</p>
				<br>
				<h2><strong>//</strong> <i class="fa fa-graduation-cap"></i> Progetti universitari</h2>
				<p>Raccolta di tutti i progetti universitari realizzati fino ad oggi.
					<br> &raquo; <a href="http://dev.marianosciacco.it/projects/uni">Visualizza progetti universitari</a>
				</p>
				<br>
				<h2><strong>//</strong> <i class="fa fa-link"></i> Live Websites</h2>
				<p>Archivio di tutti i siti web conclusi e/o non più attivi che è possibile visionare online. 
					<br> &raquo; <a href="http://dev.marianosciacco.it/portfolio">Visualizza la raccolta online</a>
				</p>
			</div>
		
		</article>

		<div class="limit-4"></div>

		<article>	
			<div class="list-box-option">
				
				<div class="box-option box-qcloud">
					<div class="box-text">
						qCloud Manager
					</div>				
				</div>	

				<div class="box-option box-atlantisbook">
					<div class="box-text">
						Social Network
					</div>				
				</div>

				<div class="box-option box-ls">
					<div class="box-text">
						Los Santos City
					</div>				
				</div>

				<div class="box-option box-lspd">
					<div class="box-text">
						Los Santos Police
					</div>				
				</div>

			</div>
		</article>

	</div>
</section>



<section class="divider">
	<div class="limiter"></div>
</section>