<section id="skills">
	<div class="limiter">

		<article>
			<div class="titolo">
				<div class="scroll-2">
					<h2>Skillset</h2>
					<img src="images/icons/exp.png">
				</div>
			</div>
			<div class="contenuto">	

				<h1>Competenze tecniche</h1>
			 	<h2><i class="fa fa-code"></i> Ad oggi </h2>

		 		<ul>
		 			<li>Typescript, Javascript, Java, PHP, C++</li>
		 			<li>Linguaggi web Front-end (HTML5, CSS, JS con JQuery)</li>
		 			<li><strong>Angular 9, Laravel 8, Spring framework, NodeJS</strong></li>
		 			<li>Database (Postgres, Timescale, MYSQL, MariaDB)</li>
		 			<li>XML, JSON, YAML</li>
		 			<li>Git, Github, Gitlab, Docker</li>
		 			<li>DevOps (Github &amp; Gitlab runners)</li>
		 			<li>Travis CI &amp; Jenkins, Ansible</li>
		 		</ul>
			 	<p>
			 		Buone conoscenze di Windows, Linux e macOS. 
			 	</p>

				<h1>Il passato da autodidatta</h1>
			 	<h2><i class="fa fa-code"></i> HTML5 / PHP / CSS / JS </h2>
			 	<p>
			 		Lavoro con l'HTML dal 2010 e gradualmente come autodidatta ho appreso le <b>basi del PHP</b>. 
			 		Ho iniziato gestendo piccoli forum su forumfree e altervista, finché non ho avuto l'occasione di applicare le mie conoscenze per la realizzazione di piccoli siti web che svolgevano la funzione di database.
			 	</p>
			 	<p>
			 		In particolare, sono stato impiegato in alcune community di giochi MMORPG con il ruolo di game designer, tester e sviluppatore, grazie
			 		alle quali ho avuto modo di costruire e affinare l'uso e le funzioni del codice e della programmazione. 
			 	</p>
			 	<p>
			 		Il <b>C e C++</b> l'ho sperimentato particolarmente con le librerie di <b>Pawn</b> per creare piccole <b>gamemode di SA-MP</b>, con cui creavo le mie modalità di gioco e programmavo missioni e comandi.
			 	</p>
			 	<p>
			 		Successivamente mi sono avvicinato al linguaggio <b>Javascript</b> man mano che sviluppavo siti web e poi ho imparato a utilizzare framework come <b>Bootstrap 3</b> per HTML, CSS e JS. 
			 	</p>
				<br>
				<h2><i class="fa fa-laptop"></i> Linux / Raspberry / Arduino</h2>
			 	<p>
			 		Ho avuto modo di operare sulle distro <b>Debian</b> per la gestione server e <b>Raspbian</b> (ARM) per lavorare con i raspberry.</b>
			 	</p>
			 	<p>
			 		Per quanto riguarda <b>Raspberry e Arduino</b>, ho realizzato piccoli circuiti molto basilari, giusto per avere una piccola infarinatura di elettronica. 
			 	</p>

		</article>
	
	<div class="limit-2"></div>

	</div>
</section>


<section class="divider">
	<div class="limiter"></div>
</section>