<section id="skills">
	<div class="limiter">

		<article>
			<div class="titolo">
				<div class="scroll-2">
					<h2>Skillset</h2>
					<img src="images/icons/exp.png">
				</div>
			</div>
			<div class="contenuto">	
				<h1>Apprendimento da autodidatta</h1>
			 	<h2><strong>//</strong> <i class="fa fa-code"></i> HTML5 / PHP / CSS / JS </h2>
			 	<p>
			 		Lavoro con l'HTML dal 2010 e gradualmente come autodidatta ho appreso le <b>basi del PHP</b>. 
			 		Ho iniziato gestendo piccoli forum su forumfree e altervista, finché non ho avuto l'occasione di applicare le mie conoscenze per la realizzazione di piccoli siti web che svolgevano la funzione di database.
			 	</p>
			 	<p>
			 		In particolare, sono stato impiegato in alcune community di giochi MMORPG con il ruolo di game designer, tester e sviluppatore, grazie
			 		alle quali ho avuto modo di costruire e affinare l'uso e le funzioni del codice e della programmazione. 
			 	</p>
			 	<p>
			 		Il <b>C e C++</b> l'ho sperimentato particolarmente con le librerie di <b>Pawn</b> per creare piccole <b>gamemode di SA-MP</b>, con cui creavo le mie modalità di gioco e programmavo missioni e comandi.
			 	</p>
			 	<p>
			 		Successivamente mi sono avvicinato al linguaggio <b>Javascript</b> man mano che sviluppavo siti web e poi ho imparato a utilizzare framework come <b>Bootstrap 3</b> per HTML, CSS e JS. 
			 	</p>
			 	<p>
			 		In generale, mi ritengo un <b>purista</b> del codice, tant'è che mi piace lavorare senza framework e inoltre utilizzo prevalentemente <b>metodi procedurali</b> (e più occasionalmente quelli a oggetti).   
				</p>
				<br>
				<h2><strong>//</strong> <i class="fa fa-laptop"></i> Sistemi Operativi / Raspberry / Arduino</h2>
				<p>
			 		Sebbene non abbia mai effettuato corsi specifici utili all'apprendimento base dei sistemi operativi, posso affermare di sapermi muovere piuttosto bene in <b>Windows</b> e in modo discreto sulle distribuzioni <b>Linux</b>. 
			 	</p>
			 	<p>
			 		Tra i sistemi Linux, ho avuto modo di operare su <b>Debian / Ubuntu Server e Raspbian</b>. Di questi sistemi operativi conosco perlopiù le basi (considerando che sono comunque in grado di configurare un pannello di controllo sul Web e collegarci un dominio internet).
			 	</p>
			 	<p>
			 		Per quanto riguarda <b>Raspberry e Arduino</b>, ho realizzato piccoli circuiti molto basilari, giusto per avere una piccola infarinatura di elettronica. 
			 	</p>

			 	<h1>Competenze Tecniche e Pratiche </h1>
			 	<h2><strong>//</strong> <i class="fa fa-code"></i> Studi universitari </h2>
			 	<p>
			 		A seguito degli studi universitari, sono stati affinati i linguaggi di programmazione e sono stati praticati i seguenti argomenti:
			 	</p>
			 		<ul>
			 			<li>C++ e OOP</li>
			 			<li>Java</li>
			 			<li>Linguaggi Front-end (HTML, CSS, JS)</li>
			 			<li>Linguaggi Web Back-end (PHP)</li>
			 			<li>Linguaggi per Database (MYSQL, MongoDB)</li>
			 			<li>XML, JSON</li>
			 			<li>Git, Github, Docker</li>
			 			<li>Maven, Gradle</li>
			 			<li>Travis CI &amp; Jenkins</li>
			 			<li>Ansible</li>
			 		</ul>
			 	<p>
			 		Buone conoscenze di Windows e MacOs. Conoscenze basilari per Linux (Ubuntu, Manjaro). 
			 	</p>
		</article>
	
	<div class="limit-2"></div>

	</div>
</section>


<section id="divider">
	<div class="limiter"></div>
</section>