{{ define "main" }}
<div class="ms-wrapper-header"></div>
<section class="ms-section">
    <div class="ms-limiter">
        <div class="ms-section-title">
            {{ partial "section_title.html" . }}
            {{ partial "breadcrumbs.html" . }}
        </div>
        <div class="ms-section-content">
            {{ .Content }}
        </div>
    </div>
</section>

<section class="ms-section ms-section-large">
    <div class="ms-limiter">
        <div class="ms-section-content">
            {{ partial "timeline.html" . }}
        </div>
    </div>
</section>
{{ end }}