<div class="ms-list">
    <div class="ms-list-title ms-h3">
        <a href="{{.RelPermalink}}">{{.Title}}</a>
    </div>
    <div class="ms-list-subtitle">
        <div>
            <i class="far fa-calendar"></i> {{.Date.Format "January 2006"}}
        </div>
        {{ with .Params.coauthors }}
        <div class="ms-list-commas">
            <i class="fas fa-users"></i>
            {{ range . }}
                <span>{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <p>{{ .Content }}</p>
</div>