/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Main
 *  
 *  Developed by Maxel
 *  Github - this.marianosciacco.it
 *
 */

@font-face {
  font-family: Comfortaa, cursive;
  src: url(font/Comfortaa.ttf);
}

.fancy-font {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

html,
body {
  text-rendering: optimizelegibility;
}

body {
  color: #212121;
  padding: 0;
  margin: 0;
  /* line-height: 125%; */
  background-color: #fff;
}

a {
  color: #67adc5;
  text-decoration: underline;
}
a:visited {
  color: #969935;
}
a:hover {
  text-decoration: none;
}

hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

p,
ul {
  margin: 20px 0;
  line-height: 40px;
  font-size: 18px;
}

h1,
h2 {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #03477a;
  text-decoration: none;
  margin: 12px 0 24px;
}

h1 {
  /* font-size: 24px;
  display: inline-block;
  border-bottom: 1px solid rgb(55, 33, 182); */
  border-radius: 0px;
  padding: 10px 2px;
  font-weight: bold;
}

h2 {
  /* font-size: 20px; */
  color: #025390;
}

article strong {
  color: #999;
}

.cursor {
  cursor: pointer;
}

.active,
.show {
  display: block;
}
.disabled,
.hide {
  display: none;
}
.inline-block {
  display: inline-block;
}

.box {
  padding: 4px;
  margin: 10px 20px;
}
.red {
  background-color: #ffb2b2;
  color: #c41717;
}
.blue {
  background-color: #b3d1ff;
  color: #1757c4;
}
.green {
  background-color: #d4ffb3;
  color: #4ec518;
}

p.true,
p.false {
  width: auto;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 4px;
  padding: 8px;
}

p.true {
  border: 1px solid green;
  color: #006600;
}

p.false {
  border: 1px solid red;
  color: #660000;
}

.line {
  border-right: 1px solid #ccc;
}

.tohide {
  font-size: 24px;
  color: #555;
  text-transform: lowercase;
}

/* ========== Template ========== */

.top-header {
  height: 30px;
  padding: 6px 0 4px;
  width: 100%;
  background-color: #13185a;
  text-align: center;
  color: #d6bcda;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  transition: box-shadow 0.3s ease;
  background-color: #fff !important;
}

.header:hover {
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
}

.side-header {
  padding: 0 0.75em;
  text-align: center;
}

.side-container {
  padding: 0.75em;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top-right-radius: 4px;
}

.side-container .my-portrait {
  max-width: 80%;
  border-radius: 5000px;
  display: block;
  margin: auto;
}

footer {
  background-color: #fff /*#F2F2F2*/;
  min-height: 150px;
  color: #fcfcfc;
  padding: 60px 0;
  overflow: hidden;
}

footer p {
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #000;
}

footer .footer-logo {
  float: left;
  text-align: right;
  width: 35%;
  padding-right: 5em;
}

footer .footer-text {
  float: left;
  width: 65%;
  padding: 0.5em;
}
