{{ define "main" }}

<!-- <header>
    <div class="inner-header">
        <img class="my-portrait" src="/images/my-portrait.jpeg">
        <h1>Hi! I'm Mariano.</h1>
        <h2>Computer Scientist living in Padova, Italy</h2>
        <i class="fas fa-caret-down"></i>
    </div>
</header> -->

<div class="bottom-header">
    <div class="bottom-header-text">
        <strong>Mariano Sciacco, Maxelweb</strong>: just a guy playing with the Web <i class="fa fa-globe"></i>
    </div>
</div>

<section class="ms-section-splash">
    <div class="ms-limiter">
        <div class="splash-name">Mariano Sciacco, <span>Maxelweb</span></div>
        <div class="splash-desc"><img class="ms-portrait" src="/images/my-portrait.jpeg" alt="Mariano Sciacco"></div>
    </div>
</section>

<section class="ms-section ms-section-after-splash">
    <div class="ms-limiter">
        <div class="ms-section-content">
            <h1>Mariano Sciacco, Maxelweb</h1>
            <h2><i class="fas fa-user-astronaut"></i> Computer Scientist</h2>
            <p>
                Ciao, sono Mariano Sciacco, conosciuto anche come Maxelweb.
            </p>
            <p>    
                Sono del 1997 e vivo a Padova (Italia).
            </p>
            <p>
                Sono un grande appassionato di tecnologie informatiche e mi interesso molto alla progettazione, sviluppo e gestione di tecnologie web. Sono nel campo da molti anni e sono stato partecipe di molti progetti online per interesse e studio personale.
            </p>
            <p>Ad oggi, lavoro principalmente in ambito Cloud & IoT e mi occupo di Ricerca e Sviluppo.</p>
        </div>
    </div>
</section>

<section class="ms-section ms-section-light">
    <div class="ms-limiter">
        <div class="ms-section-content">
            <h2 class="ms-my2"><i class="fas fa-file-alt"></i> {{ T "cv" }} </h2>
            <h3>Download</h3>
            <a href="http://cvit.marianosciacco.it" class="ms-btn ms-btn-light ms-my1">
                <i class="fas fa-file-download"></i> {{ T "lang-ita" }} - {{ T "format-normal" }}
            </a>
            <a href="http://cv.marianosciacco.it" class="ms-btn ms-btn-light ms-my1">
                <i class="fas fa-file-download"></i> {{ T "lang-eng" }} - {{ T "format-normal" }}
            </a>
            <a href="https://public.marianosciacco.it/cv_eu_marianosciacco_it.pdf" class="ms-btn ms-btn-light-outline ms-my1">
                <i class="fas fa-file-download"></i> {{ T "lang-ita" }} - {{ T "format-europass" }}
            </a>
        </div>
    </div>
</section>

<section class="ms-section">
    <div class="ms-limiter">
        <div class="ms-section-content">
            <h2><i class="fas fa-code"></i>Tecnologie</h2>
            <p>
                Di seguito alcune delle principali tecnologie con cui ho lavorato di recente.
            </p>
            <h3>{{ T "dev-cloud-programming" }}</h3>
            <div class="ms-logos-container">
                {{ $data := .Site.Data.technologies }}
                {{ range $data.cloud }}
                    <img src="{{ $data.image_folder }}{{ .image }}" alt="{{ .alt }}" title="{{ .alt }}"/>
                {{ end }}
            </div>
            <a id="ms-tech-toggle" aria-label="ms-tech-toggle" alt="Toggle technologies" title="Toggle technologies" class="ms-btn ms-btn-dark-outline ms-btn-block cursor ms-my3" onclick="msToggle('#ms-tech-container')"><i class="far fa-caret-square-down"></i> {{ T "see-more" }}</a>
            <div class="hide" id="ms-tech-container">
                <h3>{{ T "dev-iot" }}</h3>
                <div class="ms-logos-container">
                    {{ range $data.iot }}
                        <img src="{{ $data.image_folder }}{{ .image }}" alt="{{ .alt }}" title="{{ .alt }}"/>
                    {{ end }}
                </div>
                <h3>{{ T "dev-tools" }}</h3>
                <div class="ms-logos-container">
                    {{ range $data.tools }}
                        <img src="{{ $data.image_folder }}{{ .image }}" alt="{{ .alt }}" title="{{ .alt }}"/>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

{{/* TODO: add blog section  
    <section class="ms-section ms-section-light">
    <div class="ms-limiter">
        <div class="ms-section-content">
            <h2 class="ms-my2"><i class="fas fa-rss"></i> {{ T "news-latest" }} </h2>
            <p></p>
        </div>
    </div>
</section>  */}}

<section class="ms-section ms-section-large">
    <div class="ms-limiter">
        <div class="ms-section-content">
            <h2><i class="fas fa-stream"></i> Timeline</h2>
            <div class="timeline">
                {{ range first 6 (where .Site.RegularPages "Section" "about") }}
                    {{ partial "timeline_containers.html" . }}
                {{ end }}
            <a class="timeline-see-more" href="about/#background">
                <i class="far fa-caret-square-down"></i>
                {{ T "see-more" }}
            </a>
        </div>
    </div>
</section>

<!-- <section class="bg-light text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-3x fa-code"></i>
                    <h3>Programmer</h3>
                    <p class="text-muted">I work with several programming languages and frameworks.</p>
                    <p><a href="/about">Technical skillset &raquo;</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-3x fa-book"></i>
                    <h3>Projects</h3>
                    <p class="text-muted">I made several university projects, as well as personal projects. </p>
                    <p><a href="/portfolio">Portfolio &raquo;</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="role-box">
                    <i class="fa fa-3x fa-graduation-cap"></i>
                    <h3>Education</h3>
                    <p class="text-muted">I have a BD in Computer Science and currently I'm MD's student @ UNIPD, Italy.
                    </p>
                    <p><a href="/education">Education »</a></p>
                </div>
            </div>
        </div>

        <p>


        </p>
    </div>
</section> -->

<!-- <section class="bg-secondary text-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading text-light"><small>Download my</small> <strong>Curriculum / Resume</strong>
                </h2>
                <hr class="light">
                <p>You can download a small Resume about what I have done and what I'm currently doing.</p>

                <a href="http://cvit.marianosciacco.it" class="btn btn-light"><i class="far fa-file"></i> Italian CV</a>
                <a href="https://public.marianosciacco.it/cv_eu_marianosciacco_it.pdf" class="btn btn-light mx-2"><i
                        class="far fa-file"></i> Italian EuroPass CV</a>
                <a href="http://cv.marianosciacco.it" class="btn btn-light"> <i class="far fa-file"></i> English CV</a>
            </div>
        </div>
    </div>
</section> -->

{{ end }}