{{ define "main" }}
<div class="ms-wrapper-header"></div>
<section class="ms-section ms-section-after-splash">
    <div class="ms-limiter">
        <div class="ms-section-title">
            {{ partial "section_title.html" . }}
            {{ partial "breadcrumbs.html" . }}
        </div>
        <div class="ms-section-content">
            {{ .Content }}
            <h2>{{ T "master-projects" }}</h2>
            {{ range where .Pages "Params.tags" "intersect" (slice "msc") }}
                {{ partial "listing_projects.html" . }}
            {{ end }}
            <h2>{{ T "bachelor-projects" }}</h2>
            {{ range where .Pages "Params.tags" "intersect" (slice "bsc") }}
                {{ partial "listing_projects.html" . }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}