/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Mobile style
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 */

/*  ====================== MEDIA QUERY Smartphone  ======================  */

@media only screen and (min-width:150px) and (max-width:899px) {

    body {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        margin: 0;
        padding: 0;
        min-width: 150px;
    }

    body img {
        max-width: 50%;
    }

    .bottom-header {
        background-color: #141414;
        min-height: 20px;
        height: auto;
        padding: 5px;
        width: auto;
    }

    header {
        width: 100%;
        min-width: 310px;
        margin: 0px auto;
        padding: 0px 0px;
        height: auto;
        position: relative;
    }

    .ms-navbar {
        display: none;
    }

    .ms-navbar-mobile {
        display: block;
    }

    .logo-header {
        background-position: -3px 6px;
    }

    .ms-limiter {
        width: auto;
        padding: 0 !important;
    }

    .ms-wrapper {
        width: 100%;
        min-width: 150px;
        margin: 0 auto;
        padding: 0px;
    }

    .ms-wrapper img {
        max-width: 50%;
    }

    footer {
        width: 100%;
        padding-bottom: 20px;
        height: auto;
    }

    footer .ms-footer-logo,
    footer .ms-footer-text {
        float: none;
        width: auto;
        text-align: center !important;
        padding: 2em;
    }

    #navbar-footer,
    #info-footer,
    #logo-footer {
        width: auto;
    }

    #info-footer {
        border: none;
        border-top: 4px solid #114A74;
        border-bottom: 4px solid #114A74;
    }

    .ms-section-splash::after {
        height: 0;
        border-top: 0px;
    }

    .ms-section-splash div.splash-desc {
        line-height: 45px;
        font-size: 24px;
    }

    .ms-section-splash div.splash-name {
        font-size: 40px;
        line-height: 50px;
    }
    
    .ms-portrait {
        position: relative;
        max-width: 100px;
    }

    .ms-section-header {
        border-color: transparent;
        margin: 25px 0 0;
    }

    section div.list-box-option {
        display: none;
    }

    section.ms-section {
        min-height: 0;
    }

    section div.box-option {
        width: 250px;
        height: 250px;
        margin: 30px auto;
    }

    section.divider {
        background: #FFF;
        height: 40px;
    }

    .ms-section-title,
    .ms-section-content {
        float: none !important;
        width: 100% !important;
        text-align: left !important;
        padding-right: 0 !important;
    }

    .ms-section-title {
        text-align: center !important;
        padding: 20px 10px;
        padding-right: 10px;
        background-color: #EAEAEA;
        border-radius: 10px;
        margin: 10px 0;
        border-top: 1px solid #CCC;
    }

    .ms-section-title img {
        max-width: 64px !important;
    }

    .ms-section-content p {
        line-height: 35px;
    }

    table td {
        word-break: break-all;
    }

    table span.tohide {
        display: none;
    }

    table.contacts td {
        width: auto !important;
    }

    section.ms-section {
        margin: 0 auto;
    }

    .fright,
    .fleft {
        float: none;
    }
}


/*  ======================  MEDIA QUERY - Tablet  ====================== */

@media only screen and (max-width: 1175px) and (min-width: 900px) {

    body {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        margin: 0;
        padding: 0;
        min-width: 800px;
    }

    body img {
        max-width: 50%;
    }

    .bottom-header {
        min-height: 20px;
        height: auto;
        padding: 5px;
        width: auto;
    }

    header {
        width: 100%;
        min-width: 310px;
        margin: 0px auto;
        padding: 0px 0px;
        height: auto;
        position: relative;
    }

    .link-header {
        margin: 0 8px !important;
        padding: 15px !important;
    }

    .ms-url-list {
        margin: 7px 0 0 !important;
    }

    header.ms-header .ms-limiter {
        width: 96%;
    }

    .logo-header {
        background-position: -15px 6px;
    }

    .ms-limiter {
        width: auto;
    }

    .ms-wrapper {
        width: 100%;
        min-width: 310px;
        margin: 0 auto;
        padding: 0px;
    }

    .ms-wrapper img {
        max-width: 50%;
    }

    .ms-portrait {
        position: relative;
        max-width: 100px;
    }

    footer {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        height: auto;
    }

    footer .ms-footer-logo,
    footer .ms-footer-text {
        float: none;
        width: auto;
        text-align: center !important;
        padding: 2em;
    }

    #navbar-footer,
    #info-footer,
    #logo-footer {
        width: auto;
        width: auto;
    }

    .ms-section-splash::after {
        height: 0;
        border-top: 0px;
    }

    .ms-section-splash .splash-desc {
        line-height: 45px;
    }

    .ms-section-splash .splash-name {
        font-size: 40px;
        line-height: 50px;
    }

    section div.box-option {
        width: 300px;
    }

    .titolo,
    .contenuto {
        float: none;
        width: 100%;
    }

    .contenuto p {
        line-height: 35px;
    }

    table td {
        word-break: break-all;
    }

    table span.tohide {
        display: block;
    }

    table.contacts td {
        width: auto !important;
    }

    article {
        margin: 0 auto;
    }
}


@media only screen and (min-width: 900px) and (max-width: 1024px) {
    .link-header {
        margin: 8px 3px !important;
        padding: 5px !important;
    }

    header {
        font-size: 10px;
    }
}

/*  ======================  FIXME: MEDIA QUERY Big Screens ====================== */

@media (min-width: 1280px) {

    /* .ms-navbar .ms-url-list a.link-header {
        margin: 0 20px 0 20px;
    } */
}

@media (min-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }
  