/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Template
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 */

/* ========== General ========== */

.ms-limiter {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.ms-navbar,
.logo-header,
.logo-footer {
  display: inline-block;
  vertical-align: top;
}

/* ========== Header ========== */

.bottom-header {
  height: 30px;
  padding: 6px 0 4px;
  width: 100%;
  background-color: var(--ms-secondary);
  text-align: center;
  color: #f1f1f1;
  font-size: 9pt;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bottom-header-text {
  display: none;
}

header {
  width: 100%;
  height: 130px;
  margin: 0 auto;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: var(--ms-light);
}

header.ms-header .ms-limiter {
  /* width: 96%; */
  text-align: center;
}

.ms-navbar {
  margin: 40px auto 0;
}

.ms-navbar .ms-url-list {
  text-align: left;
  margin: -11px 0 0 20px;
}

.ms-navbar .ms-url-list a.link-header {
  padding: 26px;
  margin: 0 8px;
  display: inline-block;
  color: var(--ms-dark);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.8px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.ms-navbar .ms-url-list i {
  color: var(--ms-primary);
}

.ms-navbar .ms-url-list a.link-header:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ms-navbar .ms-dropdown {
  display: inline-block;
}

.ms-navbar .ms-dropdown-content {
  display: none;
  z-index: 3;
  position: absolute;
  min-width: 185px;
  margin: 0px 45px;
  padding: 20px;
  border-radius: 6px;
  background-color: var(--ms-primary);
  transition: background-color 0.8s;
}

.ms-navbar .ms-dropdown-content a {
  color: var(--ms-dark);
  background-color: var(--ms-light);
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border-radius: 4px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ms-navbar .ms-dropdown i.fa-folder {
  padding-right: 2px; /* Fix icon replace */
}

.ms-navbar .ms-dropdown-content a:hover {
  background-color: #A9C0D2;
}

.ms-navbar .ms-dropdown a.link-header i.ms-icon-post {
  display: none;
}

.ms-navbar .ms-dropdown:hover a.link-header i.ms-icon-pre {
  display: none;
}

.ms-navbar .ms-dropdown:hover a.link-header i.ms-icon-post {
  display: inline;
}

.ms-navbar .ms-dropdown:hover .ms-dropdown-content {
  display: block;
}

.ms-navbar .ms-dropdown-content:hover {
  background-color: var(--ms-primary-hover);
}

.logo-header {
  width: 130px;
  height: 130px;
  background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: var(--ms-logo);
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
}

/* .ms-menu-icon {
  position: absolute;
  font-size: 2.35rem;
  top: 9%;
  left: 9%;
  background-color: var(--ms-dark);
  padding: 6px 18px;
  border-radius: 6px;
  color: var(--ms-light);
}

.ms-menu-icon:hover {
  color: var(--ms-light);
  background-color: var(--ms-dark);
} */

.ms-icon-menu-checkbox {
  display: none;
}

label.ms-icon-menu-label {
  position: absolute;
  top: 45px;
  left: 8%;
  display: block;
  width: 50px; /* width: 60px;  */
  height: 50px; /* height: 60px; */
  cursor: pointer;
}

label.ms-icon-menu-label div {
  position: relative;
  top: 0;
  height: 9px; /* height: 12px; */
  margin-bottom: 9px; /* margin-bottom: 12px; */
  background-color: var(--ms-dark);
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 12px;
}

label.ms-icon-menu-label div:first-child {
  transform-origin: 0;
}

label.ms-icon-menu-label div:last-child {
  margin-bottom: 0;
  transform-origin: 50px; /* transform-origin: 60px; */
}

label.ms-icon-menu-label div:nth-child(2) {
  right: 0;
  width: 50px;
}

.ms-icon-menu-checkbox:checked + label.ms-icon-menu-label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

.ms-icon-menu-checkbox:checked + label.ms-icon-menu-label div:last-child {
  top: 8px; /* top: 6px; */
  transform: rotateZ(45deg);
}

.ms-icon-menu-checkbox:checked + label.ms-icon-menu-label div:nth-child(2) {
  width: 72px; /* width: 85px; */
  top: 0;
  right: 12px; /* right: 13px; */
  transform: rotateZ(-45deg);
}

/* end test */


.ms-navbar-mobile {
  color: var(--ms-light);
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
  text-align: left;
  display: none;
}

.ms-navbar-mobile .ms-url-list i {
  /* color: var(--ms-dark); */
  color: var(--ms-light);
}

.ms-navbar-mobile .ms-url-list a.submenu {
  background-color: var(--ms-primary);
  padding-left: 35px;
}

.ms-navbar-mobile .ms-url-list a.submenu:hover {
  background-color: var(--ms-primary-hover);
}

.ms-navbar-mobile .ms-url-list a {
  background-color: var(--ms-secondary);
  color: var(--ms-light);
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--ms-light);
  padding: 8px;
  margin: 0;
  display: block;
  text-decoration: none;
  text-transform: lowercase;
}

.ms-navbar-mobile .ms-url-list a:hover {
  text-decoration: none;
  color: var(--ms-light);
  background-color: var(--ms-secondary-hover);
}

.ms-navbar-mobile .ms-url-list a:hover i {
  color: var(--ms-light);
}

/* ========== Body Content  ========== */

.ms-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.ms-wrapper-header {
  transform-origin: bottom left;
  margin: 4.5% 0 2%;
  transform: skewY(357deg);
  transition: transform .15s linear;
  border-top: 30px solid #0479c4;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  padding-right: 10%;
  color: var(--ms-dark);
}

.ms-wrapper-header::after {
  content: var(--ms-slogan);
}


section {
  background-color: var(--ms-light);
}

section .ms-limiter {
  background-color: inherit;
  padding: 2rem 0 2rem;
}

section.ms-section .ms-limiter{
  max-width: 720px;
}

section.ms-section-large .ms-limiter {
  max-width: 1020px;
}

.ms-section {
  min-height: 200px;
  margin: 0;
  text-align: justify;
  vertical-align: top;
  padding: 5px 10px;
}

.ms-section .ms-section-title {
  text-transform: uppercase;
  text-align: left;
}

.ms-section .ms-section-content {
  min-height: 100px;
  text-align: left;
}

.ms-section img {
  max-width: 450px;
  margin: 10px;
}

/* ========== Splash Screen  ========== */

.ms-section-splash .ms-limiter {
  box-shadow: none;
  background-color: transparent;
}

.ms-section-splash {
  min-height: 500px;
  padding: 50px 0;
  text-align: center;
  background: var(--ms-light) var(--ms-splash) no-repeat 100% bottom / cover;
  background-attachment: fixed;
}

.ms-section-splash::after {
  content: var(--ms-slogan);
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 500px;
  background: var(--ms-light);
  transform-origin: bottom left;
  margin: 160px 0;
  transform: skewY(357deg);
  transition: transform .15s linear;
  border-top: 30px solid var(--ms-primary); 
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  padding-right: 10%;
  color: var(--ms-dark);
  /* FIXME: keep it or not? */
}

.ms-section-splash .splash-name,
.ms-section-splash .splash-desc {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 2.5rem;
  letter-spacing: 2.0px;
  margin: 20px auto;
  text-transform: uppercase;
  color: var(--ms-white);
  padding: 20px;
}

.ms-section-splash .splash-name {
  background-color: transparent;
}

.ms-section-splash span {
  font-weight: bold;
}

.ms-section-after-splash {
  margin: -10px 0 0;
  z-index: 2;
  position: relative;
  background-color: transparent;
}

/* ========== Specific sections and Single Page  ========== */


/* ========== FIXME: refactor the following parts  ========== */


/* section div.ms-section-content {
  width: 65%;
} */

section div.list-box-option {
  width: auto;
  margin: 30px auto 10px;
}

section div.box-option {
  width: 20%;
  display: inline-block;
  height: 250px;
  margin: 2%;
  background-color: var(--ms-light);
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

/*
 section div.box-option:hover
 {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 */


section div.box-option div.box-text {
  margin: 260px auto;
  text-align: center;
  padding: 10px 0;
  font-style: italic;
}

section div.box-option a {
  color: #025390;
  font-size: 24px;
  transition: 0.3s;
  font-weight: lighter;
}

section div.box-option a:hover {
  text-decoration: none;
}

section#end,
section.divider {
  height: 0px;
}

section#pageheader {
  background: transparent url("../images/material.jpg") no-repeat 100% center / cover;
  height: 160px;
}

section#pageheader div.title {
  letter-spacing: 2px;
  font-size: 24px;
  padding: 10px;
  line-height: 35px;
}

section#end h1 {
  color: var(--ms-light);
  background-color: rgba(26, 85, 128, 0.1);
  padding: 8px 12px;
  text-align: center;
}

section#end input[type="text"],
section#end input[type="submit"] {
  border: none;
  font-size: 30px;
  color: var(--ms-light);
  background-color: rgba(30, 120, 146, 0.83);
}

section#end input[type="text"] {
  width: 250px;
  background-color: transparent;
}

section#end form {
  display: inline;
}



section#edu p {
  border-left: 2px solid #CCC;
  padding: 5px 20px;
  margin: 1.2em 0.5em;
}

section#edu span {
  font-size: 1.1em;
  color: #8B5808;
  font-weight: bold;
}


/* ========== Footer ========== */

footer {
  background-color: rgb(53, 53, 53)
    /*#F2F2F2*/
  ;
  min-height: 150px;
  color: #FCFCFC;
  padding: 1.5rem 0;
  overflow: hidden;
}

footer .ms-footer-logo {
  float: left;
  width: 50%;
  padding-right: 5em;
  text-align: right;
}

.logo-footer {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-image: var(--ms-logo-light);
}

footer .ms-footer-text {
  float: left;
  width: 50%;
  padding: 2rem 0.5rem 1rem;
}