/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Utilities
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 */


/* ========== Utilities ========== */

.ms-my1 {
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}

.ms-my2 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.ms-my3 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

.ms-mx1 {
    margin-right: 0.25em !important;
    margin-left: 0.25em !important;
}

.ms-mx2 {
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}

.ms-mx3 {
    margin-right: 1em !important;
    margin-left: 1em !important;
}

.ms-py1 {
    padding-top: 0.25em !important;
    padding-bottom: 0.25em !important;
}

.ms-py2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.ms-py3 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.ms-px1 {
    padding-right: 0.25em !important;
    padding-left: 0.25em !important;
}

.ms-px2 {
    padding-right: 0.5em !important;
    padding-left: 0.5em !important;
}

.ms-px3 {
    padding-right: 1em !important;
    padding-left: 1em !important;
}

.ms-text-light {
    color: var(--ms-light) !important;
}

.ms-text-dark {
    color: var(--ms-dark) !important;
}

.ms-text-primary {
    color: var(--ms-primary) !important;
}

.ms-text-secondary {
    color: var(--ms-secondary) !important;
}

.ms-text-white {
    color: var(--ms-white) !important;
}

.ms-text-black {
    color: var(--ms-black) !important;
}

.ms-text-error {
    color: var(--ms-error) !important;
}

.ms-bg-light {
    background-color: var(--ms-light) !important;
}

.ms-bg-dark {
    background-color: var(--ms-dark) !important;
}

.ms-bg-primary {
    background-color: var(--ms-primary) !important;
}

.ms-bg-secondary {
    background-color: var(--ms-secondary) !important;
}

.ms-bg-white {
    background-color: var(--ms-white) !important;
}

.ms-bg-black {
    background-color: var(--ms-black) !important;
}

.ms-bg-error {
    background-color: var(--ms-error) !important;
}

.ms-box-light {
    color: var(--ms-black) !important;
    background-color: var(--ms-light-darker) !important;
}

.ms-box-primary {
    color: var(--ms-primary) !important;
    background-color: var(--ms-primary-lighter) !important;
}

.ms-box-secondary {
    color: var(--ms-secondary) !important;
    background-color: var(--ms-secondary-lighter) !important;
}

.ms-box-gray {
    color: var(--ms-black) !important;
    background-color: var(--ms-neutral) !important;
}

.ms-box-white {
    color: var(--ms-black) !important;
    background-color: var(--ms-white) !important;
}

.ms-box-black {
    color: var(--ms-white) !important;
    background-color: var(--ms-black) !important;
}

.ms-box-error {
    color: var(--ms-error) !important;
    background-color: var(--ms-error-lighter) !important;
}