/*
 *
 *  Personal Web Page - MarianoSciacco.it
 *  CSS - Variables
 *  
 *  Developed by Maxelweb
 *  Github - this.marianosciacco.it
 *
 */


:root{

    /* ========== Colors ========== */

    --ms-primary: #0479c4;
    --ms-primary-hover: #073354;
    --ms-secondary: #01681e; 
    --ms-dark: #141414;
    --ms-light: #fcfdfe;
    --ms-error: #c41717;
    --ms-white: #fff;
    --ms-black: #111;

    --ms-primary-lighter: #cae4f5;
    --ms-secondary-lighter: #a9dbb7; 
    --ms-dark-lighter: #CCC;
    --ms-light-darker: #f1f1f1;
    --ms-error-lighter: #ffb2b2;

    /* ========== Background-images ========== */

    --ms-logo: url("../../images/logo-v3.png");
    --ms-splash: url("../../images/background.jpg");
}