

.site-header{
	background: #529ebd url("https://marianosciacco.it/images/material.jpg") no-repeat 100% center / cover;;
	border-bottom: 2px solid #A9AC07;
}

.site-title, 
.site-title:visited,
.site-nav .page-link{
	color: #FFF;
}

.site-footer{
	background-color: #F2F2F2;
}