{{ define "main" }}
<!-- Here the section refers to content/section/_index.html --> 
<div class="ms-wrapper-header"></div>
<section class="ms-section ms-section-after-splash">
    <div class="ms-limiter">
        <div class="ms-section-title">
            <h1>{{ .Title }}</h1>
            {{ partial "breadcrumbs.html" . }}
        </div>
        <div class="ms-section-content">
            {{ .Content }}
            {{ with .Pages }}
                {{ range . }}
                    {{ partial "listing_full.html" . }}
                {{ end }}
                </ul>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}