{{ define "main" }}
<!-- Here the section refers to content/section/post-custom-name.md --> 
<div class="ms-wrapper-header"></div>
<section class="ms-section">
    <div class="ms-limiter">
        <div class="ms-section-title">
            {{ with .Parent }}
                {{ partial "section_title.html" . }}
            {{ end }}
            {{ partial "breadcrumbs.html" . }}
            <h3>{{ .Title }}</h3>
        </div>
        <div class="ms-section-content">
            <div class="ms-list-subtitle ms-my3">
                <div>
                    <i class="far fa-calendar"></i> {{.Date.Format "January 2006"}}
                </div>
                {{ with .Params.coauthors }}
                <div class="ms-list-commas">
                    <i class="fas fa-users"></i> <strong>{{ T "supervisors" }}</strong>:
                    {{ partial "function_coauthors.html" . }}
                </div>
                {{ end }}
            </div>
            {{ with .Params.documentURL }}
                <a href="{{ . }}" class="ms-btn ms-btn-light-outline"><i class="fas fa-file-download"></i> {{ T "document-download" }}</a>
            {{ end }}
            <div class="ms-my3">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}